# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:

    # to encrypt the passwords
    encoders:
        AppBundle\Entity\User: bcrypt

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
#        in_memory:
#            memory: ~

        #User_provider - provides loading user session, up-to-date, remember me, impersonate
        #not users imported into DB then create custom user provider that implements the UserProviderInterface
        users_info:  #should be any name
            entity: {class: AppBundle\Entity\User, property: email}

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~

            guard:
                authenticators:
                    - app.security.login_form_authenticator


            logout:
                path: /logout

            # activate different ways to authenticate

            # http_basic: ~
            # http://symfony.com/doc/current/book/security.html#a-configuring-how-your-users-will-authenticate

            # form_login: ~
            # http://symfony.com/doc/current/cookbook/security/form_login_setup.html


    # Providing the access control for the users list which are defined in the entity form - get role sections
    # ROLE_USER ; ROLE_ADMIN; ROLE_XXX its anything but underscore and path will be given to access

    access_control:
       # - { path: ^/admin, roles: ROLE_USER }  #Role can be anything but start with ROLE_XXX, ROLE_ADMIN,...